@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  :root {
    --background: 18, 18, 18;
    --foreground: 255, 255, 255;
    --primary-background: 18, 18, 18;
    --secondary-background: 244 244 245;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;

      --background: 255, 255, 255;
      --foreground: 0, 0, 0;
      --primary-background: 18, 18, 18;
      --secondary-background: 24 24 27;
    }
  }
}
